---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

// Our variables
$base-font-family: helvetica, arial, sans-serif
$base-font-size:   16px
$small-font-size:  $base-font-size * 0.875

$text-color:       #111
$background-color: #fdfdfd
$brand-color:      #2a7ae2

$on-palm:          600px
$on-laptop:        800px

//Colors
$primary: #104B97
$primary-light: #428ECB
$primary-dark: #0B4492

$black: #303030
$grey: #D8D8D8
$magenta: #DE2C69

// Import Vendor
@import "vendor/normalize"
@import "vendor/toast"

// Import partials from `sass_dir` (defaults to `_sass`)
@import "utility"
@import "nav"
@import "layout"
