---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

// -------  Variables

// -- Fonts
$font-family: 'Raleway', helvetica, arial, sans-serif
$font-size:   15px
$heading-font-family: 'Raleway', helvetica, arial, sans-serif
// -- Colors

// Base
$primary: #104B97
$primary-light: #428ECB
$primary-dark: #0B4492

$black: #303030
$grey: #D8D8D8
$magenta: #DE2C69

// -- Font Colors

// Page text
$font-color: #111
$heading-font-color: $font-color

// Links
$link-color: $primary-light
$link-hover-color: lighten($primary-light, 10%)

// -- Backgrounds

// Background-color
$background-color: white
$nav-background-color: $background-color
$footer-background-color: $black


// -- Fun stuff
$border-radius: 0.3em

// -- Grid Width
$wrapper: 80rem

\:root
  font-size: $font-size

*
  box-sizing: border-box

// Import Vendor
@import "vendor/normalize"
@import "vendor/toast"

// Import partials from `sass_dir` (defaults to `_sass`)
@import "utility"
@import "base"
@import "type"
@import "layout"

//sections
@import "nav"
@import "hero"
@import "footer"
