
<nav>
  <div class="nav row">
    <div class="col col--9-of-12">
      <ul class="Menu">
        <li><span class="burger"></span></li>
        <li><span class="burger"></span></li>
        <li><span class="burger"></span></li>
      </ul>
      <ul class="top-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="col col--3-of-12">
      <div class="contact">
        <a href="#"><i class="fa fa-phone"></i> 760-515-2822</a>
        <br>
        <a href="#"><i class="fa fa-envelope"></i> RhondaLSher@gmail.com</a>
      </div>
      <div class="IN">
        <a href="#">
          <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  	 x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve"><path d="M18.1,54.9H7.9V24.2h10.2V54.9z M13,20.1L13,20.1c-3.5,0-5.7-2.4-5.7-5.3c0-3,2.3-5.3,5.8-5.3
  	s5.6,2.3,5.7,5.3C18.8,17.7,16.6,20.1,13,20.1z M54.8,54.8H44.7V38.5c0-4.1-1.5-6.9-5.2-6.9c-2.8,0-4.5,1.9-5.2,3.7
  	C34,36,34,36.9,34,37.8v17.1H23.7c0,0,0.2-27.8,0-30.7h10.2v4.3c1.4-2.1,3.8-5.1,9.2-5.1c6.7,0,11.7,4.4,11.7,13.8
  	C54.8,37.2,54.8,54.8,54.8,54.8z"/></svg>
          </a>
      </div>
    </div>
  </div>
</nav>
